---
import { getCollection, getEntry } from 'astro:content';
import { config } from '../config';
// 每页显示多少条
const { postsSize } = config.opt
const {
    prev,
    next,
    total: totalPage, // 总页数
    current: curPage, // 当前页码
    tpl,
    isBar
} = Astro.props;


const blog = await getCollection("blog")
// 文章总数
const blogTotal = blog.length; 

---

<div class={"pagination-container" + (isBar ? " page-bar" : "")}>
    {
        prev.num > 0 && <a href={prev.link} class="prev" title="上一页" > 上一页 </a>
    }
    {
        <span class="pagination-info">
            第 {curPage} 页 / 共 {totalPage} 页
        </span>
    }
    {
        next.num > 0 && <a href={next.link} class="next" title="下一页" > 下一页 </a>
    }
</div>
