@font-face {
  font-family: "iconfont"; /* Project id 4403601 */
  src: url('iconfont.woff2?t=1704707527433') format('woff2'),
       url('iconfont.woff?t=1704707527433') format('woff'),
       url('iconfont.ttf?t=1704707527433') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fenxiang:before {
  content: "\e713";
}

.icon-fenxiang1:before {
  content: "\e654";
}

.icon-twitter:before {
  content: "\e659";
}

.icon-facebook:before {
  content: "\e65a";
}

.icon-Yahoo:before {
  content: "\e65b";
}

.icon-Skye:before {
  content: "\e65c";
}

.icon-Google:before {
  content: "\e65d";
}

.icon-anzhuo:before {
  content: "\e65e";
}

.icon-yamaxun:before {
  content: "\e65f";
}

.icon-linkedin:before {
  content: "\e660";
}

.icon-YouTube:before {
  content: "\e661";
}

.icon-Qzone:before {
  content: "\e662";
}

.icon-QQ:before {
  content: "\e663";
}

.icon-xinlang:before {
  content: "\e664";
}

.icon-QQ_weibo:before {
  content: "\e665";
}

.icon-zhifubao:before {
  content: "\e666";
}

.icon-taobao:before {
  content: "\e667";
}

.icon-weichat:before {
  content: "\e668";
}

.icon-douban:before {
  content: "\e669";
}

.icon-renren:before {
  content: "\e66a";
}

.icon-email:before {
  content: "\e66b";
}

.icon-youku:before {
  content: "\e66c";
}

